<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="noble-ui-logo d-block mb-2">eShop<span>Administration</span></a>
            <h5 class="text-muted font-weight-normal mb-4">Welcome back! Log in to your account.</h5>
            <form class="forms-sample">
              <a  class="btn rounded-btn" (click)="login()">Not a user? Sign up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>